.iv-badge {
  background-color: $color-primary;
  color: $color-white;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.09px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 50%;
}
