@import "src/styles/global";
button {
  span {
    &:first-child {
      margin: 0 5px;
    }
    &:not(:first-child) {
      margin: 0 5px 0 0;
    }
  }
  &.cancel,
  &.close {
    background-color: $color-gray-1;
    color: $color-white;
    font-weight: 500;
  }
  &[disabled] {
    cursor: not-allowed;
  }
}