<mat-expansion-panel #destinationPnl expanded="true" hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title> <span>Destinations</span> </mat-panel-title>
    <span *ngIf="!destinationPnl.expanded" class="icon-chevron-down-circle"></span>
    <span *ngIf="destinationPnl.expanded" class="icon-chevron-up-circle"></span>
  </mat-expansion-panel-header>
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
      <div fxLayout="column" fxLayoutGap="10px">
        <label>KEYPAD OPTIONS</label>
        <div fxFlexFill fxLayout="row wrap" fxLayoutGap="18px">
          <button *ngFor="let num of nums" class="btn-num" (click)="showDialog = true" [ngClass]="{active: num?.active}"
                  mat-flat-button color="primary">{{num?.text}}</button>
        </div>
      </div>
      <div class="exit-action__control" fxFlex="30">
        <iv-select label="Exit Action" placeholder="select option"></iv-select>
      </div>
    </div>
    <iv-checkbox text="Allow direct dial"></iv-checkbox>
  </div>
</mat-expansion-panel>

<p-dialog [showHeader]=false [(visible)]="showDialog" [modal]="true" [responsive]="true"
          [style]="{width: '480px', minWidth: '368px'}" [minY]="70" [baseZIndex]="10000">
  <div class="p-dialog-content" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row">
      <div fxFlex fxLayoutAlign="start center" fxLayoutGap="10px">
        <button class="btn-num active" mat-flat-button color="primary">1</button>
        <span>Configuration option 1</span>
      </div>
      <div fxFlex="20" fxLayoutAlign="end center"><span class="icon-cross"></span></div>
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
      <iv-select label="Time Period" placeholder="select option"></iv-select>
      <iv-select label="Time Period" placeholder="select option"></iv-select>
      <iv-input [form]="form" [controlName]="'description'" placeholder="Type your description here" label="description">
      </iv-input>
    </div>
  </div>
  <p-footer>
    <iv-button type="transparent" (click)="showDialog = false" text="cancel"></iv-button>
    <iv-button text="save" type="primary"></iv-button>
  </p-footer>
</p-dialog>