<div fxLayout="row" class="iv-list-item ring-group" fxLayoutAlign="start center" [ngClass]="type" fxLayoutGap="20px">
  <div class="name">{{item?.name}}</div>
  <div>
    <iv-pill icon="icon-smartphone" text="83 Participants"></iv-pill>
  </div>
  <div [fxFlex.md]="25" [fxFlex.lt-lg]="12">STRATEGY: ROLLEVER</div>
  <span fxFlex="5" fxLayoutAlign="center center" class="icon icon-phone-outgoing"></span>
  <div fxFlex fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="15px">
    <span fxFlex="20" fxLayoutAlign="end center" class="icon icon-pencil"></span>
    <img class="more-options" [src]="assetSvgPath + 'more-options-primary.svg'" />
  </div>
</div>