@import 'src/styles/global';

.disabled {
  color: $grey-20;
  font-size: 14px;
}

.enabled {
  color: $color-black;
  font-size: 14px;
}

:host ::ng-deep {
  .mat-slide-toggle-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: relative;
    top: 4px;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $color-primary;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $color-white;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    position: relative;
    left: 6px;
  }
}