@import "src/styles/global";
:host {
  width: 100%;
}

.ivr-menu__list {
  color: $color-black-1;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
  div {
    &:nth-child(1) {
      color: $color-secondary;
    }
    &:nth-child(3) {
      font-size: 14px;
      font-weight: 500;
      color: $color-gray;
    }
    &:nth-child(4) .icon {
      color: $color-primary;
    }
  }
}
h1,
h2,
h3,
h4,
h5 {
  color: $color-white;
}
.icon-list,
.icon-chart-growth {
  font-size: 24px;
}
