@import "src/styles/global";
.provisioning {
  color: $color-black-1;
  > div {
    &:first-child {
      color: $color-secondary;
      font-weight: 500;
    }
    &:nth-child(2) {
      color: $color-gray-1;
    }
    &:nth-child(3) {
      color: $color-gray-1;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}


