<iv-top-nav-actions [crumbs]="GetCrumbs()" [action]="GetPageAction()"></iv-top-nav-actions>
<div class="iv-prov__container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <mat-card fxLayout="column" fxFlexFill fxLayoutGap="20px">
    <div>
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="start start">
        <iv-search (keywordEmitter)="onSearch($event)" type="large"></iv-search>
      </div>
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="end end">
        <iv-button-toggle (toggleChange)="onToggle($event)"></iv-button-toggle>
      </div>
    </div>
    <div class="content" [ngSwitch]="tableView">
      <ng-container *ngSwitchCase="'card'">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <h5>Yeallink T41</h5>
          <span class="iv-badge">4</span>
        </div>
        <div class="iv-list" fxLayout="row wrap" fxLayoutGap="30px">
          <iv-provisioning-card *ngFor="let item of (items$ | async)" [item]="item">
          </iv-provisioning-card>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'list'">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <h5>Yealink T41</h5>
          <span class="iv-badge">4</span>
        </div>
        <div class="iv-list">
          <iv-provisioning-list *ngFor="let item of (items$ | async)" [item]="item">
          </iv-provisioning-list>
        </div>
      </ng-container>
    </div>
  </mat-card>
</div>