<div fxLayout="row wrap" fxLayoutGap="30px">
  <mat-card class="iv-card small" [ngClass]="type">
    <div fxLayout="row">
      <div fxFlex class="title">musicone.wav</div>
      <div fxFlex="10" fxLayoutAlign="end center">
        <img [src]="assetSvgPath + 'more-options-primary.svg'" />
      </div>
    </div>
    <div class="body" fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="10px">
      <span class="icon-play-circle icon"></span>
      <span class="counter">00:36</span>
    </div>
    <div class="footer" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
      <span fxFlexOffset="50" fxFlex="50" fxLayoutAlign="end center" class="icon icon-pencil"></span>
    </div>
  </mat-card>
</div>