@import "src/styles/global";
//needs to be removed
:host {
  width: 235px;
  height: 100%;
}
.icon-list,
.icon-chart-growth {
  font-size: 24px;
}
.iv-card {
  > div {
    > div {
      > div {
        &:first-child {
          font-size: 16px;
        }
      }
      &:nth-child(2) {
        font-size: 14px;
        color: $color-gray-1;
        font-weight: 500;
      }
    }
    &:nth-child(2) {
      height: 100px;
    }
  }
  .content {
    > div {
      color: $color-primary;
      font-weight: 600;
      font-size: 16px;
    }
  }
}

:host ::ng-deep {
  .more-options {
    margin: 0 !important;
  }
}