@import "src/styles/global";
.distributor__card {
  cursor: pointer;
}
.body {
  height: 190px;
  width: 100%;
}
.footer {
  flex-grow: 1;
  padding: 20px;
  > div {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: start;
    &:nth-child(1) {
      font-size: 16px;
      color: $color-secondary;
      font-weight: 500;
    }
    &:nth-child(2) {
      font-size: 12px;
      color: $color-gray-1;
      span.uc {
        text-transform: uppercase;
      }
    }
  }
}
