<div fxLayout="row wrap" fxLayoutGap="30px" class="distributor__card">
  <mat-card *ngFor="let distributor of (distributors$ | async)" class="iv-card large np" fxLayout="column"
            [ngClass]="type" (click)="gotoReseller(distributor?.id)">
    <div class="body" fxLayout="row">
      <img [src]="svgImgSrc + 'dashboard-sample-img.png'">
    </div>
    <div class="footer" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div>{{ distributor?.company_name }}</div>
      <div>
        <span class="uc">Created on</span>
        <span>{{ distributor?.created_at }}</span>
      </div>
    </div>
  </mat-card>
</div>